<ul id="navigation">
  <li><%= link_to 'Courses', courses_path, :class => ( "on" if current_tab?('courses') || current_tab?('resources') ) %></li>
  <li><%= link_to 'Exercises', exercises_path, :class => ( "on" if current_tab?('exercise') ) %></li>
</ul>
<div class="clear">&nbsp;</div>